
<div class= "central-content">

    <h1 id="login">Login</h1>

  <div class="login-labels">
    <form class="login-labels" action="/login" method="post">
      <label class="login-labels" for="">email</label>
      <input class="login-labels" type="email" name="email">
      <label class="login-labels" for="">password</label>
      <input class="login-labels" type="password" name="password">
      <button class="login-labels">submit</button>
    </form>


    <form class="login-labels" action="/sign-up" method="get">
      <button>Create a Profile</button>
    </form>
  </div>
</div>


