<h1>Upload Your Presentation</h1>

<form action="/" method="post">
  
  <label for="">Poster Title</label>
  <input type="text" name="title">
  
  <label for="">image address</label>
  <input type="text" name="presentation_url">

  <label for="">authors</label>
  <input type="text" name="authors">

 

  <button>Confirm Submission</button>


  


</form>