<h2>Conference Submissions </h2>


<ul id="titles">
<% titles.each do |poster_name| %>
  <a href="/poster_details/<%= poster_name["id"] %>">
    <li class="poster-titles"><%= poster_name["title"] %> </li> 
    
  </a>   
<% end %>
</ul>


