<form action="/create_profile" method="post">
  <label for="">first-name</label>
  <input type="first_name" name="first_name">
  <label for="">surname</label>
  <input type="surname" name="surname">
  <label for="">email</label>
  <input type="email" name="email">
  <label for="">password</label>
  <input type="password" name="password">
  <button>submit</button>
</form>