<p>I want to...</p>

<form action="/posters/upload">
  <button>Upload My Poster Presentation</button>
</form>


<form action="/poster_titles">
  <button>View The Conference Presentations</button>
</form>